html,
body {
    background-color: rgb(253, 245, 230);
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

#canvas {
    position: absolute;
}